.column{
    overflow: hidden;
}

/*Home Page*/

.navbar{
    position: fixed;
    width: 100%;


}

.dropdown-item a{
    font-size: 15px;
    height: 2.5rem;
}
.dropdown-item a:hover{
    color: green;
}

.navbar-item{
    height: 3.75rem;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}



.navbar-brand>a:hover,a:active,a:visited,a:link{
    color: black;
}

.navbar-item>p{
    font-size: 25px;
    margin-left: 5%;
    margin-top: 2%;
    margin-right: -8%;
    font-family: 'Philosopher', sans-serif;

}

#home_Id:visited{
    color: black;
}

.navbar-start a:hover{
    color: darkgreen;
}

#home_hero_pic{
    background-image: url('../assets/kandy_pic.jpg');
    background-size: cover;
    background-blend-mode: darken;

}
#hero-h1>p:nth-child(1){
    font-weight: lighter;
    font-size: 60px;
    color: white;
}

#hero-h1>p:nth-child(2){
    font-weight: bold;
    font-size: 60px;
    color: white;
}

#hero-p{
    color: white;
    font-size: 19px;
}

.button{
    border-radius: 15px;
    margin-right: 5px;
}

.orWord{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 5px;
}

#title1,#title2,#title3,#title4{
    text-align: center;
}

#subtitle1,#subtitle2,#subtitle3,#subtitle4{
    text-align: center;
}

#section2{
    background-color: whitesmoke;

}
#latestTender{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: darkgreen;
    margin-bottom: 30px;
    font-weight: bold;
}

.card-header-title{
   display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 50px;
    width: 100%;
}

#card_category{
    font-size: 13px;
    color: forestgreen;
}

.slider{
    margin-top: 20px;
    margin-bottom: 20px;
}

#card_desc{
    font-size: 13px;
}
/*Signup*/

#createAccountColumn{
    padding-left: 0;
    padding-bottom: 5%;
}
#createAccountText{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;

}
#signup_background{
    background-color: lightgray;
}

#signup_container{
    margin-top: 5%;
    padding: 0;
}

#signup_right_side{
    background: linear-gradient(180deg, #34AFA8 6.25%, rgba(13, 188, 178, 0.35) 100%);
}

.column #round_1{
    position: absolute;
    top: 22%;
    left: 53%;
    width: 500px;
    height: 500px;
    border-radius: 100%;

    background: linear-gradient(180deg, rgba(56, 178, 170, 0.5) 0%, rgba(39, 189, 171, 0) 100%);
}

.column #round_2{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 400px;
    height: 400px;
    border-radius: 100%;

    background: linear-gradient(180deg, rgba(56, 178, 170, 0.5) 0%, rgba(39, 189, 171, 0) 100%);
}

#signup_pic{
    width: 80%;
    height: 90%;
    margin-left: 10%;
}

#signup_button{
    /*margin: 0 0 0 30%;*/
    font-weight: bold;
}

#alreadyText{
    padding-top: 0;
}

/*Signin*/
#signin_round_1{
    position: absolute;
    top: 5%;
    left: 51%;
    width: 350px;
    height: 350px;
    border-radius: 100%;

    background: linear-gradient(180deg, rgba(56, 178, 170, 0.5) 0%, rgba(39, 189, 171, 0) 100%);
}

#signin_round_2{
    position: absolute;
    top: 11%;
    left: 12%;
    width: 270px;
    height: 270px;
    border-radius: 100%;


    background: linear-gradient(180deg, rgba(56, 178, 170, 0.5) 0%, rgba(39, 189, 171, 0) 100%);
}

/*About*/
#about_hero_pic{
    background-image: url('../assets/about.jpg');
    background-size: cover;
    background-blend-mode: darken;

}

#about-hero-h1{
    font-weight: bold;
    font-size: 55px;
    color: white;

}

#whoWeAre{
    font-size: 35px;
    font-weight: bold;

}

#winner{
    font-size: 20px;
}
#aboutSection2{
    background-color: whitesmoke;

}

/*Contact*/
#contact_hero_pic{
    background-image: url('../assets/contact.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

#contactNow{
    font-size: 30px;
}

#contactForm{
    background-color: whitesmoke;
}

/*Tender*/

#tender_hero_pic{
    background-image: url('../assets/Tender.jpg');
    background-size: cover;
    background-blend-mode: soft-light;
}

#side-filter{
    height: 100%;
}

#filterList a{
    color: green;
}

.tabs li.is-active a{
    color: green;
    border-bottom-color:green;
    font-weight: bold;
}

.tabs ul{
    border-bottom-color: white;
}

.pagination-link.is-current {
    background-color: #48c78e;
    border-color: #48c78e;
    color: #fff
}

/*Post Tender*/
#post-tender-background{
    background: linear-gradient(180deg, #34AFA8 6.25%, rgba(13, 188, 178, 0.35) 100%);
}

#tender-post-form{
    margin-top: 10%;
    margin-bottom: 8%;
}

.file-name{
    Overflow: unset;
    display: inline-table;

}

/*Tender Details*/
#place-bid{
    float: right;

}

#tender_detail_table{
    line-height: 40px;
}


/*My Account*/
#myAccount_Background{
    background-color: lightgray;
}

.checked {
    color: orange;
}

.span-icon{
    float: left;
}

.span-text{
    float: right;
}

/*My Reviews*/

.progress-container:before {
    content: attr(data-text);
    position: absolute;
    right: -13%;
    top:0;
    line-height:1em;
    color: green;
}

.progress-container2:before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    line-height:1em;
}

.progress-container {
    text-align: center;
    position: relative;
    width: 14rem;
}

/*My Tender*/
.overlay-model{
    background-color:rgb(211 211 211 / 16%);

}

.overlay-model-2{
    background-color:rgb(211 211 211 / 46%);

}

#model-title{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    width: 100%;
}


/*Footer*/
#footer_name{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

#footer{
    padding-bottom: 50px;

}

.footer_icon{
    color: white;
}

.footer_icon:hover{
    color: cornflowerblue;
}

.footer_link:hover{
    color: darkgreen;
}


@media(min-width: 1440px)  {
    /*Signup*/
    .column #round_1{
        position: absolute;
        top: 20%;
        left: 56%;
        width: 500px;
        height: 500px;
        border-radius: 100%;

        background: linear-gradient(180deg, rgba(56, 178, 170, 0.5) 0%, rgba(39, 189, 171, 0) 100%);
    }

    /*Signin*/
    #signin_round_1{
        position: absolute;
        top: 5%;
        left: 53%;
        width: 350px;
        height: 350px;
        border-radius: 100%;

        background: linear-gradient(180deg, rgba(56, 178, 170, 0.5) 0%, rgba(39, 189, 171, 0) 100%);
    }


}

@media(max-width: 1024px)  {
    /*Signup*/
    .column #round_1{
        position: absolute;
        top: 20%;
        left: 53%;
        width: 400px;
        height: 400px;
        border-radius: 100%;

        background: linear-gradient(180deg, rgba(56, 178, 170, 0.5) 0%, rgba(39, 189, 171, 0) 100%);
    }

    .column #round_2{
        position: absolute;
        top: 13%;
        left: 12%;
        width: 300px;
        height: 300px;
        border-radius: 100%;

        background: linear-gradient(180deg, rgba(56, 178, 170, 0.5) 0%, rgba(39, 189, 171, 0) 100%);
    }

    /*Signin*/
    #signin_round_1{
        position: absolute;
        top: 20%;
        left: 51.5%;
        width: 250px;
        height: 250px;
        border-radius: 100%;

        background: linear-gradient(180deg, rgba(56, 178, 170, 0.5) 0%, rgba(39, 189, 171, 0) 100%);
    }

    #signin_round_2{
        position: absolute;
        top: 9%;
        left: 10%;
        width: 200px;
        height: 200px;
        border-radius: 100%;

        background: linear-gradient(180deg, rgba(56, 178, 170, 0.5) 0%, rgba(39, 189, 171, 0) 100%);
    }


}

@media(max-width: 768px){
    /*Home*/

    /*SignUp*/
    #signup_container{
        margin-top: 8%;
    }

    #signup_right_side{
        display: none;
    }

}

@media(max-width: 425px) {

    /*Signin*/
    #signin_container{
        margin-top: 10%;
    }

}


